* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.semi-bold {
  font-weight: 600;
}


/* colors */
.color01 {
  color: #8987a1;
}

.color02 {
  color: #000000;
}
.color03 {
  color: #e95a08;
}



/* nav */
.nav-bar {
  max-width: 1140px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0;
}

.nav-logo {
  height: 82px;
  width: 135px;
}

.nav-content {
  width: 415px;
  height: 60px;
  margin: 5.5px 0px 5.5px 150px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px;
  width: 415px;
  height: 24px;
  margin: 18px 0px;
  font-size: 1.2em;
  font-weight: 400;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

/* Banner */

.banner {
  display: flex;
  align-items: end;
  max-width: 1140px;
  height: 461px;
  margin: 0px auto;
  margin-top: 120px;
}
.banner-details {
  width: 570px;
  height: 333px;
}

.banner-image {
  width: 570px;
  height: 355px;
}

.banner-title {
  height: 178px;
  font-size: 4em;
}

.banner-description {
  margin-top: 13px;
  height: 128px;
  width: 100%;
  font-size: 1.45em;
  font-weight: 400;
}


.plant-section {
  margin: 120px auto;
  max-width: 1140px;
  height: 1186px;
  display: flex;
  flex-direction: column;
}

.plant-header {
  max-width: 1140px;
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plants-title {
  max-width: 1140px;
  height: 68px;
  text-align: center;
  font-size: 3.2em;
}

.plants-description {
  margin-top: 16px;

  max-width: 888px;
  height: 54px;
  text-align: center;
  font-size: 1.2em;
}

.plants {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
  max-width: 1140px;
  height: 1000px;
}

.plant {
  width: 270px;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.plant-name {
  margin-top: -20px;
  font-size: 1.2em;
  font-weight: 500;
  height: 16px;
  width: 132px;
}
.plant-price {
  margin-top: -20px;
  font-size: 1.3em;
  font-weight: 700;
  height: 16px;
  width: 81px;
}
.plant-buying-button {
  margin-top: -15px;
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  color: #ffffff;
  font-size: 1em;
  font-weight: 600;
  border: none;
  padding: 18px 49.5px;
}




/* flower section */
.flower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 210px auto 100px;
  max-width: 1140px;
  height: 597px;
}

.flower-store-image {
  width: 540px;
  height: 597px;
}

.flower-image-wrapper {
  position: relative;
  width: 540px;
}
/* badge */
.badge {
  position: absolute;
  width: 286px;
  height: 286px;
  top: -122px;
  left: 360px;
  z-index: 10;
}
.flower-details {
  width: 540px;
  height: 521px;
}

.flower-title {
  font-size: 3.55em;
}

.flower-description {
  margin-top: 20px;
  font-size: 1.3em;
  font-weight: 400;
}

.deals {
  margin: 30px auto;
  max-width: 1440px;
  height: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.deal-title {
  width: 1440px;
  height: 68px;
  font-size: 3.55em;
}

.deal-description {
  margin-top: 20px;
  font-weight: 400;
  width: 888px;
  height: 54px;
  font-size: 1.3em;
}

